@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@layer base {
  .light {
    --global-bg: theme("colors.white");
    --global-bg-invert: #111827;
    --badges-purple-border: rgba(126, 34, 206, 0.1);
  }
  .dark {
    --global-bg: #111827;
    --global-bg-invert: theme("colors.white");
    --badges-purple-border: rgba(192, 132, 250, 0.3);
  }
}
